<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
         "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
<hibernate-configuration>
    <session-factory>  
<!--配置数据库的驱动程序，Hibernate在连接数据库时，需要用到数据库的驱  动程序-->  
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>    
<!--设置数据库的连接url:jdbc:mysql://localhost/hibernate,其中localhost表示mysql服务器名称，此处为本机，hibernate是数据库名-->   
	<property name="hibernate.connection.url">jdbc:mysql:///test</property>  
    <!--连接数据库是用户名-->  
    <property name="hibernate.connection.username">root</property>    
    <!--连接数据库是密码-->  
    <property name="hibernate.connection.password">123456</property>           
	 <!-- 配置 数据库 方言 -->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">true</property>                
    <mapping resource="ankermaker/users.hbm.xml"/>     
    </session-factory>
</hibernate-configuration>